*{
    margin: 0;
    padding: 0;
    outline: solid 1px red;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    
}

.row{
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 10px; 
}


.row img{ 
    height: 30px;
}

button{
    cursor: pointer;
    color: #3899dc;
    border-radius: 5px;
    transform: scale(100%)
}

p{
    font-size: 20px;
}


