*{
    margin: 0px;
    padding: 0px;
    /*outline: solid 1px black;*/
}

.container{
    margin: 60px auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.alcentro{
    padding:30px;
    display: flex;
    flex-flow: column wrap;
    box-shadow: 0px 0px 5px 1px;
    margin: 40px auto;
    
}
.nombre{
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    padding-top: 20px;
}
.tu_mama{
    margin: 0 auto;
}

.subtitulo{
    text-align: center;
    color: #777777;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}


.fonasa{
    text-align: center;
    margin-top: 2%;
    padding-bottom: 20px;
    color: #464646;
    
}


.conectores{
    text-align: center;
    margin: 0 auto;
    padding-left: 10px;
    cursor: pointer;
    font-size: 20px;
    
    
}

.button{
    border: 2px solid #00A5A5;
    border-radius: 10px;
    display: block;
    color: white;
    cursor: pointer;
    font-size: 20px;
    margin: 0 auto;
    background-color: #3798dc;
    margin-top: 10px;
    width: 50%;
    transform: scale(120%)
    
}

.foto_perfil{
    width: 150px;
    border-radius: 100%;
    margin: -110px auto -20px;

}

.help{
    text-align: center;
}
