*{
    padding: 0px;
    margin: 0px;
    /* outline: solid 1px black;*/
}       

.row{
    display: flex;
}

.col{
    flex: 1;
    height: 70px;
    margin: 10px 10px;
    background-color: #5a99a1;
    color: white;
}

.col2{
    color: white;
    height: 70px;
    flex: 2;
    margin: 10px 10px;
    background-color:  #5a99a1;
}

.col3{
    color: white;
    flex: 3;
    height: 70px;
    margin: 10px 10px ;
    background-color:  #5a99a1;
}

