*{
    margin: 0;
    padding: 0;
    outline: solid 1px gray;
}

.container{
    background-color: black;
    width: px;
    height: 200px;
    color: white;
    margin: auto;
    margin-top: 20px;
}

.texto{

}
