* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f3f3f3;
}

a {
    color: #085394;
}

.container {
    margin:0 auto;
    max-width: 62.5rem; /* equivalente a 1000px */
    width: 100%;
}

.row{
    display: flex;
    gap: 20px;
    
}
.flex-2{
    flex:2 ;
}
.flex-1{
    flex:1;
}
.box{
    border: solid 4px black;
}
.top {
    background-color: #ccc;
    height: 60px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}

.title {
    font-size: 3.2rem;
}

.search {
    flex: 1;
    font-size: 1.2rem;
    padding: 5px 10px;
    margin: 0 100px;
}

.btn {
    font-size: 1.2rem;
    padding: 5px 15px;
    border: 2px solid #000;
    box-shadow: 4px 4px #000;
    cursor: pointer;
}

.login {
    background-color: #2b78e4;
    color: #fff;
}

.left{
    height: 170px;
    background: transparent;
    margin-bottom: 2%;
}

.like{
    background-color: rgb(255,217,102);
    margin-top: 2%;
}


.definition-text{
    margin-left: 30%;
}


.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    margin-bottom: 30px;
}
.add{
    background-color:rgb(147,196,125) ;
}